#contact-us {
    @extend %div_style;
    position: relative;
    h1 {
        @extend %title_style;
    }

    form {
        width: 100%;
        margin-bottom: 30px;

        #left {
            width: 100%;
            float: left;

            input {
                width: 100%;
                height: 45px;
                margin-bottom: 15px;
                font-size: 16px;
                padding: 20px 10;
                border: 1px solid #ccc;
                background-color: rgba(218, 218, 218, 0.19);

                &:focus {
                    outline: 1px solid var(--them-color);
                }
            }
        }

        #right {
            width: 100%;
            float: right;

            textarea {
                width: 100%;
                height: 150px;
                margin-bottom: 15px;
                font-size: 16px;
                padding: 20px 10;
                border: 1px solid #ccc;
                background-color: rgba(218, 218, 218, 0.19);
                letter-spacing: 1.2;
                font-family: inherit;

                &:focus {
                    outline: 1px solid var(--them-color);
                }
            }

            button {
                width: 100%;
                background-color: var(--them-color);
                color: white;
                font-size: 17px;
                padding: 12px 0;
                margin-bottom: 20px;
            }
        }
    }
    &::before {
        content: "";
        @include pos-center(absolute);
        @include img-pos("contact.png");
        // top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        opacity: 0.5;
    }
}

@media only screen and (min-width: 920px) {
    #contact-us {
        padding: 70px 18% 50px 18%;

        form {
            display: flex;
            justify-content: space-between;
            #left {
                width: 48%;
            }

            #right {
                width: 48%;

                textarea {
                    height: 70%;
                }
            }
        }
    }
}
